/* graphical keyboard layout, fixed size (664*230px) */
ul#keyboard, ul#keyboard ul {
  margin: 0;
  padding: 0;
  width: 664px;
}
* html ul#keyboard ul {
  /* IE6-specific hack
     required for the pc104/pc105 layouts
     the TMx layout requires another hack on li#ac01, see below
   */
  width: 672px;
}
ul#keyboard {
  margin: 20px auto;
  position: relative;
  height: 230px;
}


/*****************************************************************************\
|                                                                             |
|  Default Keyboard Geometry (pc104)                                          |
|                                                                             |
\*****************************************************************************/

/* rows */
ul#keyboard li {
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
}
ul#keyboard li#adRow {
  position: absolute;
  top: 46px;
}
ul#keyboard li#acRow {
  position: absolute;
  top: 92px;
}
ul#keyboard li#abRow {
  position: absolute;
  top: 138px;
}
ul#keyboard li#aaRow {
  position: absolute;
  top: 184px;
}

/* keys */
ul#keyboard li li {
  position: relative;
  float: left;
  clear: none;
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
ul#keyboard li strong {
  position: absolute;
  font-weight: normal;
  top: 2px;
  left: 3px;
}
ul#keyboard li em {
  position: absolute;
  font-style: normal;
  bottom: 2px;
  left: 3px;
}
ul#keyboard li .deadKey {
  font-size: larger;
  color: red;
}

/* special keys */
ul#keyboard li.specialKey {
  background-color: #ddd;
}
ul#keyboard li.specialKey * {
  font-size: 13px;
  font-style: italic;
}
/* li#rtrn, li#bksp, li#tab {
  font-size: 24px;
} */
li#aaRow li.specialKey {
  width: 56px;
}
/* li#aaRow li.specialKey * {
  font-style: italic;
} */
ul#keyboard li#tab,
ul#keyboard li#bksp {
  width: 60px;
}
ul#keyboard li#caps,
ul#keyboard li#rtrn {
  width: 73px;
}
ul#keyboard li#lfsh,
ul#keyboard li#rtsh {
  width: 96px;
}
ul#keyboard li#spce {
  width: 240px;
}
ul#keyboard li#menu {
  width: 40px;
}

/* hide LSGT for pc104 (default) */
li#lsgt, li#caps105, li#rtrn105 {
  display: none;
}


/*****************************************************************************\
|                                                                             |
|  European Keyboard Geometry (pc105)                                         |
|                                                                             |
\*****************************************************************************/

.pc105 li#lfsh {
  width: 50px !important;
}
.pc105 li#rtrn {
  width: 27px !important;
  height: 86px !important;
  margin-top: -44px;
  margin-left: 48px;
}
.pc105 li#bksl {
  margin-top: 48px;
  margin-left: -31px;
}
.pc105 li#lsgt {
  display: block;
}
/* visual tweaks for CapsLock and Return */
.pc105 li#caps105, .pc105 li#rtrn105 {
  background-color: #e8e8e8;
  display: block;
}
.pc105 li#caps {
  width: 60px !important;
}
.pc105 li#caps, .pc105 li#rtrn {
  z-index: 1;
}
.pc105 li#caps105 {
  margin-left: -64px;
  width: 73px !important;
}
.pc105 li#rtrn105 {
  margin-top: -44px;
  margin-left: -44px;
  width: 40px !important;
}


/*****************************************************************************\
|                                                                             |
|  Ergonomic Keyboard Geometry (TMx)                                          |
|                                                                             |
\*****************************************************************************/

.tmx li#caps {
  display: none;
}
.tmx li#bksl {
  margin-top: 94px;
  margin-left: -96px;
}
.tmx li#tlde, .tmx li#tab,  .tmx li#lfsh, .tmx li#lctl,
.tmx li#ae12, .tmx li#ad12, .tmx li#rtsh, .tmx li#rctl,
.tmx li#bksp, .tmx li#rtrn {
  width: 46px !important;
}
.tmx li#lwin, .tmx li#lalt, .tmx li#rwin, .tmx li#ralt {
  width: 63px !important;
}
.tmx li#tlde, .tmx li#tab, .tmx li#lfsh, .tmx li#lctl {
  margin-left: 3px;
}
.tmx li#ac01 {
  margin-left: 55px;
}
* html .tmx li#ac01 {
  /* IE6-specific hack */
  margin-left: 29px;
}
.tmx li#ae06, .tmx li#ad06, .tmx li#ac06, .tmx li#ab06 {
  margin-left: 54px;
}
.tmx li#bksp {
  margin-left: -378px;
  height: 86px !important;
}
.tmx li#rtrn {
  margin-left: -326px;
  height: 86px !important;
}
.tmx li#lfsh, .tmx li#rtsh {
  height: 86px !important;
  margin-top: -44px;
}
.tmx li#rtsh {
  margin-left: 48px;
}
.tmx li#spce {
  width: 230px !important;
}

/*****************************************************************************\
|                                                                             |
|  Background Images for Tab, Backspace, Caps, Return, Shift                  |
|                                                                             |
\*****************************************************************************/

li#tab *, li#bksp *, li#caps *, li#lfsh *, li#rtsh *, li#rtrn * {
	display: none;
}
li.specialKey {
	background-repeat: no-repeat;
	background-position: bottom left;
}

li#tab  { background-image: url(key-tab.png);  }
li#bksp { background-image: url(key-bksp.png); }
li#caps { background-image: url(key-caps.png); }
li#rtrn { background-image: url(key-rtrn.png); }
li#lfsh, li#rtsh {
	background-image: url(key-shift.png);
}

/* IE6 hack, using GIF instead of PNG */
* html li#tab  { background-image: url(key-tab.gif);  }
* html li#bksp { background-image: url(key-bksp.gif); }
* html li#caps { background-image: url(key-caps.gif); }
* html li#rtrn { background-image: url(key-rtrn.gif); }
* html li#lfsh, * html li#rtsh {
	background-image: url(key-shift.gif);
}

