#lessonInput textarea {
  width: 100%;
}
#lessonInput textarea.error {
  background-color: red;
}

/* visual hints */
.hints #lessonInput textarea {
  width: 570px;
}
.hints li.active {
  background-color: brown;
}
.hints li.active * {
  font-weight: bold;
  color: white;
}
.hints .left2  { background-color: #db0; }
.hints .right2 { background-color: #ee0; }
.hints .left3, .hints .right3 { background-color: #ac0; }
.hints .left4, .hints .right4 { background-color: #3bb; }
.hints .left5, .hints .right5 { background-color: #88f; }

.hints li#ac01, .hints li#ac02, .hints li#ac03,
.hints li#ac08, .hints li#ac09, .hints li#ac10,
.hints li#ac04, .hints li#ac07 { /* home row */
  background-image: url(images/grid4.gif);
  font-weight: bold;
  color: white;
}
#hands {
  float: right;
  margin-top: 5px;
  width: 150px;
  height: 90px;
  background-image: url(images/hands_0.png);
  display: none;
}
.hints #hands {
  display: block;
}
#hands.left5  { background-image: url(images/hands_1.png); }
#hands.left4  { background-image: url(images/hands_2.png); }
#hands.left3  { background-image: url(images/hands_3.png); }
#hands.left2  { background-image: url(images/hands_4.png); }
#hands.thumb  { background-image: url(images/hands_5.png); }
#hands.right2 { background-image: url(images/hands_6.png); }
#hands.right3 { background-image: url(images/hands_7.png); }
#hands.right4 { background-image: url(images/hands_8.png); }
#hands.right5 { background-image: url(images/hands_9.png); }

/* keyboard settings: layout, geometry */
#keyboardSelector {
  float: right;
  margin-top: -10px;
}
#keyboardSelector dl * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#keyboardSelector dl dt {
  float: left;
  width: 200px;
  height: 1.5em;
  line-height: 1.5em;
  text-align: right;
}
#keyboardSelector dl dd {
  text-align: left;
  margin-left: 210px;
  height: 1.5em;
  line-height: 1.5em;
}

/* page footer */
#footer {
  color: brown;
  border-top: 1px outset brown;
  padding-top: 5px;
  font-size: smaller;
}

